*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background: beige;
}
.footer {
  -webkit-app-region: drag;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  color: #666;
  font-family: 'consolas';
  font-size: 12px;
  text-align: center;
}
